.urlaub-buttons button {
  padding: 10px;
  margin: 10px;
}

.urlaub-img {
  max-width: 600px;
  border-radius: 10px;
}

.urlaub-text {
  font-weight: 600;
  margin: 0;
}

.active-button {
  background-color: rgb(62, 78, 185);
}
